/* .navbar-wrapper .container {
	width: 330px;
}

.navbar-inverse {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
} */

/* .slides {
	max-width: 100% !important;
	height: auto !important;
} */

img {

}

.azul {
	border-color: #3498db;
}

#sobre a {
	cursor: pointer;
}